:root {
 
    --c-lightGrey: #F2F2F2
    --c-grey: #CCCCCC;
    --c-white: #ffffff;
    --c-success: #5FC54F;
    --c-wrong: #f44336;
    --c-mainColor: #AB1C95;
    --c-secondColor: #B01785;
    --c-black: #0D0D0D;
    --font-Montserrat: 'Montserrat', sans-serif;
    --font-PTSans: 'PT Sans', sans-serif;
}
