.cart-container {
  max-width: 1300px;
  border-collapse: collapse;
  margin: 20px auto;
}

/* Cart Table Styles */
.cart-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

/* Table Head Styles */
.table-head tr {
  width: 100%;
  font-size: 16px;
  font-weight: 500;
}

/* Table Row Styles */
.tbody td {
  padding: 12px;
  text-align: left;
  vertical-align: middle;
  font-size: 15px;
  font-weight: 500;
}

/* Product Image Styles */
.product-image {
  max-width: 100%;
  height: auto;
}

/* Actions Column Styles */
.actions-column .btn {
  margin-right: 15px;
}

/* Tfoot Container Styles */
.tfoot-container tr td {
  padding: 12px;
  font-size: 18px;
  color: #333;
}

.tfoot-container .btn {
  font-size: 14px;
}

.btn {
  cursor: pointer;
  padding: 8px 16px;
  margin: 5px;
  font-size: 12px;
}

#cartQuantity {
  font-size: 14px; /* Ajusta el tamaño del número de productos según tus preferencias */
}

.form-control{
  font-size: 18px;
}

/* Estilos para dispositivos móviles */
@media (max-width: 767px) {
  .table-head tr {
    font-size: 12px;
  }

  .tbody td {
    padding: 5px;
    font-size: 12px;
  }

  .cart-description {
    display: none;
  }
  
  .product-image {
    margin-bottom: 10px;
    max-width: 50%;
  }

  .actions-column .btn {
    margin-right: 0px;
  }

  .tfoot-container tr td {
    padding: 2px;
    font-size: 12px;
  }

  .tfoot-container .btn {
    padding: 6px;
    font-size: 12px;
  }

  .form-control {
    font-size: 12px;
  }
}