.ShippingType {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    &__container {
        width: 75%;
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        font-size: 1.8rem;
        font-weight: 500;
        color: var(--c-black);

        @media screen and (max-width: 1280px) {
            width: 90%;
            font-size: 1.5rem;
        }

        @media screen and (max-width: 1024px) {
            width: 90%;
            font-size: 1.2rem;
        }

        @media screen and (max-width: 820px) {
            width: 100%;
            font-size: 1.2rem;
        }

        @media screen and (max-width: 430px) {
            width: 100%;
            font-size: 1.25rem;
        }
    }

    &__img {
        width: 50px;
        margin-right: 10px;

        @media screen and (max-width: 1280px) {
            width: 45px;
        }

        @media screen and (max-width: 1024px) {
            width: 40px;
        }

        @media screen and (max-width: 820px) {
            width: 40px;
        }

        @media screen and (max-width: 430px) {
            width: 45px;
        }
    }

    &__card {
        width: 35rem;
        margin-right: 10px;

        @media screen and (max-width: 1280px) {
            width: 35rem;
        }

        @media screen and (max-width: 1024px) {
            width: 20rem;
        }

        @media screen and (max-width: 820px) {
            width: 20rem;
        }
    }

    &__text {
        align-self: center;
        text-transform: uppercase;
    }

    &__item {
        display: flex;
        align-items: center;
        position: relative;
    }
}

.home-image {
    width: 45%;
    margin: 10px;
}

.home-image2 {
    width: 30%;
    margin: 10px;
}

.home-image-container {
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

@media screen and (max-width: 768px) {
    .home-image-container {
        display: flex;
        margin: 20px 0;
        flex-direction: column;
        align-items: center;
    }

    .home-image {
        width: 80%;
    }

    .home-image2 {
        width: 70%;
    }
}